.matchDescription {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ nhẹ */
}

.descriptionTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333; /* Màu chữ cho tiêu đề */
}

h3 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600; /* Làm cho tiêu đề con đậm hơn */
  color: #4caf4f; /* Thêm màu xanh lá cho tiêu đề con */
}

ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #666; /* Màu chữ nhẹ cho các mục */
}
