/* Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modalHeader {
    margin-bottom: 20px;
  }
  
  .modalTitle {
    font-size: 24px;
    margin: 0;
    color: #333;
  }
  
  .modalBody {
    margin-bottom: 20px;
  }
  
  .modalFooter {
    display: flex;
    justify-content: flex-end;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .confirmButton {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
  }
  
  .confirmButton:hover {
    background-color: #45a049;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
  }
  
  .cancelButton:hover {
    background-color: #da190b;
  }
  /* Thêm vào Modal.module.css */
.costHighlight {
    font-size: 1.2em;
    font-weight: bold;
    color: #e53935; /* Màu đỏ */
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    background-color: #ffebee; /* Màu nền nhạt */
    border-radius: 4px;
    border: 1px solid #ffcdd2; /* Viền nhẹ */
  }