.matchDetails {
  display: flex;
  flex-direction: column; /* Đảm bảo thông tin được sắp xếp theo chiều dọc */
  padding: 20px;
}

.matchContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 3%;
  margin-right: 20px;
}

.clubInfo {
  flex: 1;
}

.matchTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.clubName {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;  /* Khoảng cách giữa tên Club và trình độ */
}

.levelName {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px; /* Khoảng cách giữa trình độ và thông tin tiếp theo */
}

.infoItem {
  margin-bottom: 10px; /* Đảm bảo mỗi mục thông tin cách nhau */
}

.infoIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.activeStatus {
  color: green; /* Màu xanh lá */
  font-weight: bold;
}

.inactiveStatus {
  color: red; /* Màu đỏ */
  font-weight: bold;
}
.statusSpace {
  margin-left: 5px; /* Thêm khoảng cách */
}
